//- TNC PLATINUM
#chs_popup_tnc_platinum.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong Điều kiện đăng ký Thẻ Tín Dụng HSBC Visa Bạch Kim
          li
            ul.chs_popup_item_list
              li Cá nhân từ 18 tuổi trở lên.
              li Hình thức nhận lương: nhận chuyển khoản từ tài khoản công ty đang làm việc
              li Thu nhập tối thiểu hàng tháng:
                br
                | 18 triệu VND đối với khách hàng Việt Nam và 36 triệu VND đối với khách hàng nước ngoài
                br
                | 40 triệu VND đối với khách hàng Việt Nam là cá nhân tự doanh/ chủ doanh nghiệp.
              li Đang cư trú tại: Hà Nội, TP.Hồ Chí Minh, Đồng Nai, Bình Dương, Long An, Đà Nẵng, Huế, Hội An, Bà Rịa - Vũng Tàu, Tây Ninh, Bắc Ninh, Vĩnh Phúc, Hưng Yên, Hải Dương, Hải Phòng.
              li Người nước ngoài hiện đang cư trú tại Việt Nam được phép cư trú ở Việt Nam ít nhất 12 tháng LIÊN TỤC tính tại thời điểm nộp hồ sơ mở Thẻ.
              li Không thỏa mãn các yêu cầu về thu nhập? Quý khách có thể mở Thẻ bằng một khoản tiền gửi ký quỹ.

//- TNC CASHBACK
#chs_popup_tnc_cashback.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong Điều kiện đăng ký Thẻ Tín Dụng HSBC Visa Cash Back
          li
            ul.chs_popup_item_list
              li Cá nhân từ 18 tuổi trở lên.
              li Hình thức nhận lương: nhận chuyển khoản từ tài khoản công ty đang làm việc
              li Thu nhập tối thiểu hàng tháng:
                br
                | 9 triệu VND đối với khách hàng Việt Nam và 15 triệu VND đối với khách hàng nước ngoài
                br
                | 15 triệu VND đối với khách hàng Việt Nam là cá nhân tự doanh/ chủ doanh nghiệp.
              li Đang cư trú tại: Hà Nội, TP.Hồ Chí Minh, Đồng Nai, Bình Dương, Long An, Đà Nẵng, Huế, Hội An, Bà Rịa - Vũng Tàu, Tây Ninh, Bắc Ninh, Vĩnh Phúc, Hưng Yên, Hải Dương, Hải Phòng.
              li Người nước ngoài hiện đang cư trú tại Việt Nam được phép cư trú ở Việt Nam ít nhất 12 tháng LIÊN TỤC tính tại thời điểm nộp hồ sơ mở Thẻ.
              li Không thỏa mãn các yêu cầu về thu nhập? Quý khách có thể mở Thẻ bằng một khoản tiền gửi ký quỹ.

//- TNC CLASSIC
#chs_popup_tnc_classic.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong Điều kiện đăng ký Thẻ Tín Dụng HSBC Visa Chuẩn
          li
            ul.chs_popup_item_list
              li Cá nhân từ 18 tuổi trở lên.
              li Hình thức nhận lương: nhận chuyển khoản từ tài khoản công ty đang làm việc
              li Thu nhập tối thiểu hàng tháng:
                br
                | 8 triệu VND đối với khách hàng Việt Nam và 15 triệu VND đối với khách hàng nước ngoài
                br
                | 15 triệu VND đối với khách hàng Việt Nam là cá nhân tự doanh/ chủ doanh nghiệp.
              li Đang cư trú tại: Hà Nội, TP.Hồ Chí Minh, Đồng Nai, Bình Dương, Long An, Đà Nẵng, Huế, Hội An, Bà Rịa - Vũng Tàu, Tây Ninh, Bắc Ninh, Vĩnh Phúc, Hưng Yên, Hải Dương, Hải Phòng.
              li Người nước ngoài hiện đang cư trú tại Việt Nam được phép cư trú ở Việt Nam ít nhất 12 tháng LIÊN TỤC tính tại thời điểm nộp hồ sơ mở Thẻ.
              li Không thỏa mãn các yêu cầu về thu nhập? Quý khách có thể mở Thẻ bằng một khoản tiền gửi ký quỹ.

//- TNC APPLY
#chs_popup_apply.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
        .chs_popup_btn_close
          button.close(type='button', data-dismiss='modal') ×
        //
        //- box info
        #chs_box_info.chs_box_info
          //- box info - toggle
          .chs_box_info_item

            //- TIPS & HINTS - MOBILE
            ul.chs_box_info_list
              li.active
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_thietbi
                .chs_box_info_text
                  strong THIẾT BỊ HỖ TRỢ
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li.active
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_icon
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_thietbi_1.png')
                    .col-sm-12.col-xs-10
                      | Điện thoại thông minh, máy tính bảng, máy tính cá nhân
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_connect.png')
                    .col-sm-12.col-xs-10
                      | Kết nối Internet ổn định
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_otp.png')
                    .col-sm-12.col-xs-10
                      | Điện thoại ở chế độ kết nối để nhận tin nhắn xác thực (OTP)
                //- box info dash
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_chungtu
                .chs_box_info_text
                  strong CHỨNG TỪ CẦN CHUẨN BỊ
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_intro
                  | Trước khi đăng ký Mở Thẻ Trực Tuyến, Quý khách nên chuẩn bị bản mềm (định dạng .PDF, .JPG, .PNG, .GIF, .TIF) các chứng từ sau đây để có thể tải lên ngay khi cần trong quá trình đăng ký.
                .chs_box_info_details_title
                  strong Giấy tờ tuỳ thân:
                ol.chs_box_info_details_list
                  li CMND/ Thẻ căn cước còn thời hạn đối với người Việt Nam
                  li Hộ chiếu và Visa/ Thẻ tạm trú còn thời hạn với người nước ngoài
                .chs_box_info_details_title
                  strong Giấy tờ thể hiện nơi cư trú:
                ol.chs_box_info_details_list
                  li Sổ hộ khẩu
                  li Sổ đăng ký tạm trú: KT3, giấy xác nhận tạm trú, hoá đơn dịch vụ tiện ích còn hiệu lực
                .chs_box_info_details_title
                  strong Giấy tờ thể hiện thông tin làm việc:
                ol.chs_box_info_details_list
                  li Hợp đồng lao động còn hiệu lực
                  li Giấy xác nhận từ công ty về thông tin việc làm của Quý khách
                .chs_box_info_details_title
                  strong Giấy tờ chứng minh thu nhập:
                ol.chs_box_info_details_list
                  li Sao kê ngân hàng

                .chs_box_info_details_note
                  | Lưu ý:
                  ol.chs_box_info_details_list
                    li Bản mềm các chứng từ cần rõ ràng, dễ đọc.
                    li Tài liệu có nhiều trang nên được gộp thành một tệp (các trang xuyên suốt).
                    li Tính đến ngày đăng ký, nếu CMND/ Thẻ căn cước được cấp dưới 1 năm, Quý khách cần chuẩn bị giấy tờ thể hiện thông tin CMND trước đây.
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_cachthuchien
                .chs_box_info_text
                  strong CÁCH THỰC HIỆN
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_intro
                  | Quý khách có thể đăng ký Mở Thẻ Trực Tuyến mọi lúc mọi nơi.
                  br
                  | Từ sau bước xác thực OTP, Quý khách có thể lưu lại Hồ Sơ Mở Thẻ Trực Tuyến và kiểm tra tin nhắn/ email từ HSBC để có thông tin truy hồi lại và tiếp tục hoàn tất hồ sơ của mình.
                .chs_box_info_details_title
                  strong QUY TRÌNH MỞ THẺ TRỰC TUYẾN
                ol.chs_box_info_details_list
                  li Nhấn chọn MỞ THẺ TRỰC TUYẾN của loại Thẻ Quý khách muốn mở
                  li Nhập thông tin và thực hiện xác thực qua OTP trên điện thoại
                  li Kiểm tra lại đơn đăng ký
                  li Tải lên các chứng từ được yêu cầu (tham khảo tại mục Chứng từ cần chuẩn bị)
                  li Ký tên thông qua thiết bị hoặc ký tên lên theo mẫu đơn đính kèm rồi tải lên để hoàn tất đăng ký
                  li Xác nhận lại và nhấn nút "Gửi đơn"
                  li Nhận email xác nhận hoàn tất đăng ký và đợi kết quả từ HSBC
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')

            //- TIPS & HINTS - DESKTOP
            .chs_box_info_details
                ul.chs_box_info_details
                  li.active
                    //
                    .chs_box_info_details_icon
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_thietbi_1.png')
                        .col-sm-12.col-xs-10
                          | Điện thoại thông minh, máy tính bảng, máy tính cá nhân
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_connect.png')
                        .col-sm-12.col-xs-10
                          | Kết nối Internet ổn định
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_otp.png')
                        .col-sm-12.col-xs-10
                          | Điện thoại ở chế độ kết nối để nhận tin nhắn xác thực (OTP)
                  li
                    .chs_box_info_details_intro
                      | Trước khi đăng ký Mở Thẻ Trực Tuyến, Quý khách nên chuẩn bị bản mềm (định dạng .PDF, .JPG, .PNG, .GIF, .TIF) các chứng từ sau đây để có thể tải lên ngay khi cần trong quá trình đăng ký.
                    table.chs_box_info_list
                      tr
                        td
                          .chs_box_info_details_title
                            strong Giấy tờ tuỳ thân:
                        td
                          ol.chs_box_info_details_list
                            li CMND/ Thẻ căn cước còn thời hạn đối với người Việt Nam
                            li Hộ chiếu và visa/ Thẻ tạm trú còn thời hạn với người nước ngoài
                      tr
                        td
                          .chs_box_info_details_title
                            strong Giấy tờ thể hiện
                              br
                              | nơi cư trú:
                        td
                          ol.chs_box_info_details_list
                            li Sổ hộ khẩu
                            li Sổ đăng ký tạm trú: KT3, giấy xác nhận tạm trú, hoá đơn dịch vụ tiện ích còn hiệu lực
                      tr
                        td
                          .chs_box_info_details_title
                            strong Giấy tờ thể hiện
                              br
                              | thông tin làm việc:
                        td
                          ol.chs_box_info_details_list
                            li Hợp đồng lao động còn hiệu lực
                            li Giấy xác nhận từ công ty về thông tin việc làm của Quý khách
                      tr
                        td
                          .chs_box_info_details_title
                            strong Giấy tờ chứng minh
                              br
                              | thu nhập:
                        td
                          ol.chs_box_info_details_list
                            li Sao kê ngân hàng

                    .chs_box_info_details_note
                      | Lưu ý:
                      ol.chs_box_info_details_list
                        li Bản mềm các chứng từ cần rõ ràng, dễ đọc.
                        li Tài liệu có nhiều trang nên được gộp thành một tệp (các trang xuyên suốt).
                        li Tính đến ngày đăng ký, nếu CMND/ Thẻ căn cước được cấp dưới 1 năm, Quý khách cần chuẩn bị giấy tờ thể hiện thông tin CMND trước đây.
                  li
                    .chs_box_info_details_intro
                      | Quý khách có thể đăng ký Mở Thẻ Trực Tuyến mọi lúc mọi nơi.
                      br
                      | Từ sau bước xác thực OTP, Quý khách có thể lưu lại Hồ Sơ Mở Thẻ Trực Tuyến và kiểm tra tin nhắn/ email từ HSBC để có thông tin truy hồi lại và tiếp tục hoàn tất hồ sơ của mình.
                    .chs_box_info_details_title
                      strong QUY TRÌNH MỞ THẺ TRỰC TUYẾN
                    ol.chs_box_info_details_list
                      li Nhấn chọn MỞ THẺ TRỰC TUYẾN của loại Thẻ Quý khách muốn mở
                      li Nhập thông tin và thực hiện xác thực qua OTP trên điện thoại
                      li Kiểm tra lại đơn đăng ký
                      li Tải lên các chứng từ được yêu cầu (tham khảo tại mục Chứng từ cần chuẩn bị)
                      li Ký tên thông qua thiết bị hoặc ký tên lên theo mẫu đơn đính kèm rồi tải lên để hoàn tất đăng ký
                      li Xác nhận lại và nhấn nút "Gửi đơn"
                      li Nhận email xác nhận hoàn tất đăng ký và đợi kết quả từ HSBC

            //- box info dash
            .chs_box_info_dash
              a(href="#chs_box_info")
                img(src!= imageFolder + '/rocket/icon_collapse.png')
//
