//- TNC PLATINUM
#chs_popup_tnc_platinum.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong HSBC Visa Platinum Credit card
          li
            ul.chs_popup_item_list
              li All applicants must be at least 18 years of age
              li Salary earners who receive monthly salary through Company’s bank transfer
              li A minimum monthly income of:
                br
                | VND 18 million for salaried earners who are Vietnamese and VND 36 million for foreigners.
                br
                | VND 40 million for Vietnamese who are self-employed/ business owners.
              li Residing in cities, provinces: Hanoi, Ho Chi Minh City, Dong Nai, Binh Duong, Long An, Da Nang, Hue, Hoi An, Ba Ria - Vung Tau, Tay Ninh, Bac Ninh, Vinh Phuc, Hung Yen, Hai Duong, Hai Phong.
              li Foreigners staying in Vietnam have residence permission in Vietnam for at least 12 CONSECUTIVE months at the time of application.
              li Not meet the above income requirements? You can apply for our Credit card with a term deposit collateral.

//- TNC CASHBACK
#chs_popup_tnc_cashback.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong HSBC Visa Cash Back Credit card
          li
            ul.chs_popup_item_list
              li All applicants must be at least 18 years of age
              li Salary earners who receive monthly salary through Company’s bank transfer
              li A minimum monthly income of:
                br
                | VND 9 million for salaried earners who are Vietnamese and VND 15 million for foreigners.
                br
                | VND 15 million for Vietnamese who are self-employed/ business owners.
              li Residing in cities, provinces: Hanoi, Ho Chi Minh City, Dong Nai, Binh Duong, Long An, Da Nang, Hue, Hoi An, Ba Ria - Vung Tau, Tay Ninh, Bac Ninh, Vinh Phuc, Hung Yen, Hai Duong, Hai Phong.
              li Foreigners staying in Vietnam have residence permission in Vietnam for at least 12 CONSECUTIVE months at the time of application.
              li Not meet the above income requirements? You can apply for our Credit card with a term deposit collateral.

//- TNC CLASSIC
#chs_popup_tnc_classic.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        ul.chs_popup_box
          li.chs_popup_item.info
            strong HSBC Visa Classic Credit card
          li
            ul.chs_popup_item_list
              li All applicants must be at least 18 years of age
              li Salary earners who receive monthly salary through Company’s bank transfer
              li A minimum monthly income of:
                br
                | VND 8 million for salaried earners who are Vietnamese and VND 15 million for foreigners.
                br
                | VND 15 million for Vietnamese who are self-employed/ business owners.
              li Residing in cities, provinces: Hanoi, Ho Chi Minh City, Dong Nai, Binh Duong, Long An, Da Nang, Hue, Hoi An, Ba Ria - Vung Tau, Tay Ninh, Bac Ninh, Vinh Phuc, Hung Yen, Hai Duong, Hai Phong.
              li Foreigners staying in Vietnam have residence permission in Vietnam for at least 12 CONSECUTIVE months at the time of application.
              li Not meet the above income requirements? You can apply for our Credit card with a term deposit collateral.
//- TNC APPLY
#chs_popup_apply.modal.fade(role='dialog', style='display: none;', aria-hidden='true')
  .modal-dialog.modal-lg
        .chs_popup_btn_close
          button.close(type='button', data-dismiss='modal') ×
        //
        //- box info
        #chs_box_info.chs_box_info
          //- box info - toggle
          .chs_box_info_item

            //- TIPS & HINTS - MOBILE
            ul.chs_box_info_list
              li.active
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_thietbi
                .chs_box_info_text
                  strong DEVICES
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li.active
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_icon
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_thietbi_1.png')
                    .col-sm-12.col-xs-10
                      | Smartphones, tablets, laptops/ desktops
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_connect.png')
                    .col-sm-12.col-xs-10
                      | Stable internet connection
                  .col-sm-4.col-xs-12
                    .col-sm-12.col-xs-2
                      img(src!= imageFolder + '/rocket/icon_otp.png')
                    .col-sm-12.col-xs-10
                      | Phone on connection mode to receive OTP confirmation message
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_chungtu
                .chs_box_info_text
                  strong DOCUMENTS
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_intro
                  |  Before starting the online application, please prepare soft copies (.PDF, .JPG, .PNG, .GIF, .TIF) of the following documents for uploading:
                .chs_box_info_details_title
                  strong  Identity documents:
                ol.chs_box_info_details_list
                  li Valid ID for Vietnamese
                  li Valid passports and visa/ Temporary residence card for foreigners
                .chs_box_info_details_title
                  strong PROOF OF RESIDENCE:
                ol.chs_box_info_details_list
                  li Family registration
                  li Temporary residence registration: KT3, temporary residence confirmation, valid invoices of utility services
                .chs_box_info_details_title
                  strong Employment documentation
                ol.chs_box_info_details_list
                  li Valid labour contract
                  li Employment confirmation from your employer
                .chs_box_info_details_title
                  strong INCOME PROOF DOCUMENTS:
                ol.chs_box_info_details_list
                  li Bank statements

                .chs_box_info_details_note
                  | Notice:
                  ol.chs_box_info_details_list
                    li The soft copies of the documents should be clear, easy to read.
                    li Multi-page documents should be merged into one single file.
                    li On the application date, if your current ID has been issued within the last 12 months, please prepare documents which can certify your previous ID.
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_icon
                  img.chs_icon_cachthuchien
                .chs_box_info_text
                  strong HOW TO APPLY
                  img(src!= imageFolder + '/rocket/icon_expand.png')
              li
                .chs_box_info_select
                  img(src!= imageFolder + '/rocket/icon_select.png')
                .chs_box_info_details_intro
                  | You can Apply Online anytime, anywhere.
                  br
                  | After OTP verification, you can save your Application and check your SMS/ email for the retrieval link to complete it later.
                .chs_box_info_details_title
                  strong Online Application process
                ol.chs_box_info_details_list
                  li Click APPLY ONLINE for your preferred Credit card
                  li Provide your information and verify your phone number with OTP authentication
                  li Check your provided information again
                  li Upload the required documents (listed in Documents section)
                  li Sign your application via used device or sign the attached form and upload it to finish the application
                  li Confirm your application again and click "Send" button
                  li Receive the confirmation email of your application and wait to be updated by HSBC
                .chs_box_info_dash
                  a(href="#chs_box_info")
                    img(src!= imageFolder + '/rocket/icon_collapse.png')

            //- TIPS & HINTS - DESKTOP
            .chs_box_info_details
                ul.chs_box_info_details
                  li.active
                    .chs_box_info_details_icon
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_thietbi_1.png')
                        .col-sm-12.col-xs-10
                          | Smartphones, tablets, laptops/ desktops
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_connect.png')
                        .col-sm-12.col-xs-10
                          | Stable internet connection
                      .col-sm-4.col-xs-12
                        .col-sm-12.col-xs-2
                          img(src!= imageFolder + '/rocket/icon_otp.png')
                        .col-sm-12.col-xs-10
                          | Phone on connection mode to receive OTP confirmation message
                  li
                    .chs_box_info_details_intro
                      |  Before starting the online application, please prepare soft copies (.PDF, .JPG, .PNG, .GIF, .TIF) of the following documents for uploading:
                    table.chs_box_info_list
                      tr
                        td
                          .chs_box_info_details_title
                            strong Identity documents:
                        td
                          ol.chs_box_info_details_list
                            li Valid ID for Vietnamese
                            li Valid passports and visa/ Temporary residence card for foreigners
                      tr
                        td
                          .chs_box_info_details_title
                            strong PROOF OF RESIDENCE:
                        td
                          ol.chs_box_info_details_list
                            li Family registration
                            li  Temporary residence registration: KT3, temporary residence confirmation, valid invoices of utility services
                      tr
                        td
                          .chs_box_info_details_title
                            strong Employment
                              br
                              | documentation:
                        td
                          ol.chs_box_info_details_list
                            li Valid labour contract
                            li Employment confirmation from your employer
                      tr
                        td
                          .chs_box_info_details_title
                            strong INCOME PROOF
                              br
                              | DOCUMENTS:
                        td
                          ol.chs_box_info_details_list
                            li Bank statements

                    .chs_box_info_details_note
                      | Notice:
                      ol.chs_box_info_details_list
                        li The soft copies of the documents should be clear, easy to read.
                        li Multi-page documents should be merged into one single file.
                        li On the application date, if your current ID has been issued within the last 12 months, please prepare documents which can certify your previous ID.
                  li
                    .chs_box_info_details_intro
                      | You can Apply Online anytime, anywhere.
                      br
                      | After OTP verification, you can save your Application and check your SMS/ email for the retrieval link to complete it later.
                    .chs_box_info_details_title
                      strong Online Application process
                    ol.chs_box_info_details_list
                      li Click APPLY ONLINE for your preferred Credit card
                      li Provide your information and verify your phone number with OTP authentication
                      li Check your provided information again
                      li Upload the required documents (listed in Documents section)
                      li Sign your application via used device or sign the attached form and upload it to finish the application
                      li Confirm your application again and click "Send" button
                      li Receive the confirmation email of your application and wait to be updated by HSBC
            //- box info dash
            .chs_box_info_dash
              a(href="#chs_box_info")
                img(src!= imageFolder + '/rocket/icon_collapse.png')
//
